/FOSData Request Filled_ Haul-Level Dogfish Shark 20231206090400.zip
/Master_legend_2021-09-27.csv
/Taylor Dogfish NWFSC FRAM Confidential Data Request 2023.pdf
/Taylor_Dogfish_Letter.pdf
/WCGOP_2002-2022_Dogfish_2023-11-29.RDA
/WCGOP_2002-2022_Dogfish_legend_2023-11-29.xlsx